{
  "client": {
    "api_id": 0,
    "api_hash": ""
  },
  "bot": {
    "token": "",
    "all_ID": [],
    "message": ""
  },
  "settings": {
    "my_channels": [],
    "chats": [],
    "timer": 0,
    "ban_words": [],
    "ban_symbols": []
  }
}
